body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.search-container {
    margin-bottom: 20px;
}

#bookDisplay {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    width: calc(33.333% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}